#create-task {
    margin: auto;
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#create-task .title {
    font-size: 35px;
    margin-right: auto;
    margin-bottom: 40px;
    color: #0023c4;
    font-weight: 700;
}
#create-task button {
    margin-left: auto;
    margin-top: 20px;
}