#screen-profile {
    font-family: 'Nunito', 'sans-serif';
    width: 60%;
    height: 90%;
    /* margin: auto; */
    /* background-color: blue; */
    display: flex;
    /* justify-content: center; */
    align-items: center;
    flex-direction: column;
}
#screen-profile .edit {
    position: absolute;
    margin-left: 50%;
}
#screen-profile .img {
    width: 300px;
    height: 300px;
    border: 3px solid blue;
    border-radius: 50%;
    text-align: center;
    overflow: hidden;
    margin: 15px 0px;
    cursor: pointer;
}
#screen-profile .img img{
    min-width: 100%;
    min-height: 100%;
}
#screen-profile h3 {
    font-weight: 800;
    font-size: 27px;
}
#screen-profile h4 {
    font-weight: 400;
    font-size: 14px;
    padding: 5px 0px;
}
#screen-profile h5 {
    font-weight: 500;
    font-size: 16px;
}