.screen-reports {
    width: 90%;
    height: 100%;
    margin: auto;
    /* background-color: blue; */
    text-align: center;
}
.screen-reports h3 {
    font-size: 30px;
    /* color: red; */
    font-weight: 700;
}
.screen-reports .container-reports {
    width: 100%;
    /* height */
    /* background-color: red; */
    /* margin: auto; */
    padding: 10px;
    display: flex;
    flex-direction: column;
}
.screen-reports .container-reports .report {
    margin: 10px 0px;
    height: 100px;
    border-radius: 10px;
    cursor: pointer;
}
.screen-reports .container-reports .report .text-from {
    height: 10px;
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-items: start;
}
.screen-reports .container-reports .report h5 {
    width: 200px;
    margin-right: auto;
    color: black;
    /* text-align: left; */
    margin-right: 100px;
    padding: 3px;
    /* background-color: #ff93f8; */
    border-radius: 7px;
    display: inline-block;
    font-size: 14px;
}
.screen-reports .container-reports .report h5 span {
    font-size: 16px;
    font-weight: 400;
    text-transform: capitalize;
}
.screen-reports .container-reports .report h4 {
    font-size: 24px;
    font-weight: 700;
    color: white;
}
.screen-reports .container-reports .blue {
    background-color: rgb(124, 145, 238);
}
.screen-reports .container-reports .pink {
    background-color: #fccdd3;
}
#pink {
    
    background-color: rgb(255, 240, 252);
}
#blue {
    
    background-color: rgb(244 246 250);

}


#title-reports {
    font-weight: 700;
    font-size: 30px;
    margin: 30px 0px 0px 50px;
}
#title-reports::first-letter, .screen-reports .title::first-letter {
    color: #0023c4;
}
