.dash-container {
    background-color: rgb(248 250 251);
    /* display: flex; */
    width: calc(100vw - 300px);
    /* height: calc(100vh - 30px); */
    margin: 15px;
    border-radius: 30px;
    display: flex;
    align-items: center;
    /* justify-content: center; */
    flex-direction: column;
    position: absolute;
    /* right: calc(0 + 300px); */
    right: 0;
}
.dash-container .top-container {
    width: 90%;
    margin: 35px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    /* height: 30px; */
    /* padding: 35px; */
}
.dash-container .top-container .input input {
    padding: 10px;
    width: 210px;
    border-top-left-radius: 10px;
    border-bottom-left-radius: 10px;
    background-color: white;
}
.dash-container .top-container .input p {
    background-color: white;
    display: inline-block;
    padding: 10px;
    padding-right: 16px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}
.dash-container .top-container .img-profile {
    display: flex;
    align-items: center;
    font-family: 'Nunito', sans-serif;   
}
.dash-container .top-container .img-profile .img-prueba {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    /* background-color: pink; */
    margin-right: 10px; 
}
.dash-container .top-container ul {
    /* height: 15px; */
    /* display */
    margin-left: 7px;
    cursor: pointer;
}
.dash-container .top-container li {
    width: 6px;
    height: 6px;
    background-color: #c7cadd;
    border-radius: 50%;
}
.dash-container .top-container li:nth-child(2) {
    margin-top: 3px;
}
.dash-container .tasks {
    background-color: rgb(254 208 214);
    width: 90%;
    height: 300px;
    border-radius: 30px;
}
.dash-container .tasks h3 {
    padding: 20px 20px 15px 30px;
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    font-size: 30px;
    color: white;
}
.dash-container .tasks .tasks-list {
    width: 100%;
    margin-left: 30px;
    display: flex;
    flex-direction: row;
}

.dash-container .tasks .tasks-list .item-task-list {
    border-radius: 20px;
    width: 380px;
    height: 140px;
    background-color: rgb(255 142 162);
    /* height: 100%; */
    align-items: center;
    display: flex;
    flex-direction: row;
    margin-left: 20px;
    z-index: 1000;
    /* position: absolute; */
    box-shadow: 0px 22px 38px 0px #e2a3af;
    -webkit-box-shadow: 0px 22px 38px 0px #e2a3af;
    -moz-box-shadow: 0px 22px 38px 0px #e2a3af;
}

.dash-container .tasks .tasks-list .item-task-list:nth-child(1) {
    margin-left: 0;
}
.dash-container .tasks .tasks-list .item-task-list:nth-child(3) {
    background-color: rgb(95 119 239);
}
.dash-container .tasks .tasks-list .item-task-list:nth-child(3) .img-task {
    background-color: rgb(117 136 241);
}

.dash-container .tasks .tasks-list .img-task {
    width: 80px;
    height: 80px;  
    background-color: rgb(255 160 174);
    margin: 30px;
    border-radius: 15px;
}
.dash-container .tasks .tasks-list .details {
    color: white;
    position: relative;
    top: -14px;
}
.dash-container .tasks .tasks-list .details h4{
    font-weight: 800;
    font-size: 19px;

}



.dash-container .employees-zone {
    width: 90%;
    margin-top: 35px;
    /* height: 800px; */
    
    /* background-color: #f8fafb; */
}
.dash-container .employees-zone h3{
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
    font-size: 30px;
    color: black;
}
.dash-container .employees-zone .employees-details {
    margin: 35px 0px;
    font-family: 'Nunito', sans-serif;
    font-weight: 500;
    display: grid;
    grid-template-columns: repeat(
        auto-fit,
        minmax(
            270px,
            1fr
        )
    );
    gap: 17px;
}
.dash-container .employees-zone .employees-details .card-employees {
    width: 270px;
    height: 250px;
    border-radius: 20px;
    background-color: white;
    box-shadow: 0px 9px 26px -1px rgba(0,0,0,0.205);
-webkit-box-shadow: 0px 9px 26px -1px rgba(0,0,0,0.205);
-moz-box-shadow: 0px 9px 26px -1px rgba(0, 0, 0, 0.205);
}
.dash-container .employees-zone .employees-details .employees-num-tasks {
    color: #ff6982;
    padding: 15px;
}
.dash-container .employees-zone .employees-details .employees-environment {
    font-size: 20px;
    color: black;
    padding: 0px 15px;
}
.dash-container .employees-zone .employees-details .employees-environment p {
    font-size: 17px;
    color: gray;
}
.dash-container .employees-zone .employees-details .employee-profile {
    width: 90%;
    height: 60px;
    /* background-color: red; */
    margin: auto;
    margin-top: 30px;
    display: flex;
    flex-direction: row;
    align-items: center;
}
.dash-container .employees-zone .employees-details .employee-profile .img-profile-employee {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    /* background-color: blue; */
}
.dash-container .employees-zone .employees-details .employee-profile .name-employee {
    width: calc(100% - 60px);
    font-size: 20px;
    padding-left: 10px;
}