.nav {
    width: 270px;
    height: 100vh;
    position: fixed;
    /* background-color: red; */
    background-color: white;
    
}
.nav .link-logo {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding-top: 30px;
    font-family: 'Nunito', sans-serif;
    font-weight: 800;
}
.nav .logo-container .img {
    width: 70px;
}
.nav .logo-container .title-img {
    font-size: 30px;
    /* color: ; */
    margin-left: 9px;
}
.nav .logo-container .title-img .pink {
    color: rgb(255 92 244)
}
.nav .logo-container .title-img .blue {
    color: rgb(0 35 196)
}
.nav .list-items {
    margin-top: 25px;
    display: flex;
    justify-content: center;
    font-family: 'Nunito', sans-serif;
}
.nav .list-items ul li {
    padding: 15px 0px;
    font-weight: 800;
    color: #c7cadd;
    /* justify-content: center; */
    /* color: red; */
    display: flex;
    align-items: flex-start;
}
.nav .list-items ul li:nth-child(1) {
    color: black;
}
.nav .list-items ul li img{
    width: 20px;
    display: inline-block;
    margin-right: 5px;
    filter: invert(54%) sepia(86%) saturate(4064%) hue-rotate(214deg) brightness(98%) contrast(92%);
}
.nav .logout {
    /* background-color: rgb(0 35 196); */
    background-color: rgb(248 250 251);
    width: 80px;
    padding: 6px 13px;
    position: absolute;
    bottom: 30px;
    left: calc((270px - 80px) / 2);
    color: rgb(0 35 196);
    font-weight: 500;
    /* left: 50%; */
}
.nav .logout span {
    color: rgb(255 92 244)
}